:root {
  --main-color: #ff9800;
}
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #ffffff;
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: 0.3s;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 97px;
  background-color: #ffffff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.settings-box .toggle-settings .fa-gear {
  padding: 8px 0;
  width: 30px;
}
.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 20px;
  border-radius: 15px;
}
.settings-box .option-box h4 {
  margin: 0;
  color: #666;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.settings-box .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #eee;
}

.settings-box .colors-list li.active {
  /* opacity: 1; */
  border-color: #fff;
}
.settings-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}

.settings-box .random-backgrounds .yes,
.settings-box .random-backgrounds .no {
  width: 50px;
  background-color: #009688;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}
.settings-box .random-backgrounds span.active {
  opacity: 1;
}

/* -----ens settings box----------------- */
body {
  font-family: "Open Sans", sans-serif;
}

.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/02.jpg");
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: rgba(0, 0, 0, 50%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-area {
  position: relative;
  z-index: 2;
  color: #ffff;
  display: flex;
  padding: 10px;
}

.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}

.header-area .links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
}

.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}

.header-area .links li a {
  color: #ffff;
  text-decoration: none;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
  transition: 0.3s; /* make smothe transition */
}

.interoduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff;
  text-align: center;
  z-index: 3;
  width: 80%;
}

.interoduction-text h1 {
  font-size: 34px;
  margin: 0 0 18px;
}

.interoduction-text p {
  line-height: 1.6;
  font-size: 20px;
}
.interoduction-text h1 span {
  color: var(--main-color);
}

/* start about us*/
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}

.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 280px;
}
/* end about us*/

/*START skills*/
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 100px;
  text-align: right;
  line-height: 30px;
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  margin-left: 10px;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s;
}
/*END skills*/

/* START gallery*/
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}
.popup-box img {
  max-width: 100%;
  max-height: 100%;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}

.close-box {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
/* END gallery*/

/*START timeline*/
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  z-index: 10;
  position: relative;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 3px;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .right {
  float: right;
}

.timeline .timeline-content .left::before {
  right: -32px; 
}
.timeline .timeline-content .right::before {
  left: -32px;
}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.5;
}
.clearFix{
  clear: both;
}
.timeline .timeline-content .left .content::after{
  content: '';
  border: 12px solid;
  position: absolute;
  top: 16px;
  width: 0;
  height: 0;
  right: -24px;
  border-color: transparent transparent transparent #fff;
}
.timeline .timeline-content .right .content::after{
  content: '';
  border: 12px solid;
  position: absolute;
  top: 16px;
  width: 0;
  height: 0;
  left: -24px;
  border-color: transparent #fff transparent transparent;
}
/*END timeline*/
